/*     service details container       */

.component-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 0rem 0;
    width: 80%;
    margin: 8rem auto;
    border: 2px solid teal;
    text-align: center;
    background-color: azure;
}

.service-img {
    width: 20rem;
    margin-bottom: 0px;
}