.terms {
    text-align: justify;
    overflow: hidden;
    margin: 20px 20px;
}

.terms-background {
    background-image: url("../../../../assets/images/Medicare\ by\ SakibSaizeed.svg");
    background-size: cover;
}