.terms {
    text-align: justify;
    overflow: hidden;
    margin: 100px 20px;
}

.terms-background {
    background-image: url("../../../../assets/images/medicalservices.svg");
    background-size: cover;
    background-repeat: no-repeat;
}