.home-banner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3.5rem;
    /* padding-top: 0.2rem; */
    margin-top: 3rem;
}

.home-banner .image {
    flex: 1 1 24rem;
}

.home-banner .image img {
    width: 100%;
    border-radius: 5%;
    object-fit: contain;
    overflow: hidden;
}

.home-banner .content {
    flex: 1 2 35rem;
}

.home-banner .content h3 {
    font-size: 3.5rem;
    color: var(--black);
    line-height: 1;
    text-shadow: var(--text-shadow);
}

.home-banner .content h5 {
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}

@media (max-width: 480px) {
    .home-banner {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1.5rem;
        padding-top: 0.2rem;
    }
    .home-banner .image img {
        flex: 1 1 10rem;
    }
    .home-banner .content {
        flex: 1 2 20rem;
    }
    .home-banner .content h3 {
        font-size: 3.5rem;
        color: var(--black);
        line-height: 1;
        text-shadow: var(--text-shadow);
    }
    .home-banner .content h5 {
        font-size: 1.5rem;
        color: var(--light-color);
        line-height: 1.8;
        padding: 1rem 0;
    }
}