.slide-button {
    margin: auto 50%;
    display: flex;
    padding: 0 0px;
    justify-content: space-between;
}

.slide-card {
    position: relative;
    border-radius: 100%;
    text-align: center;
    margin: 0 auto;
    width: 50rem;
}


/* 
.slider-container {
    background-color: rgba(201, 236, 235, 0.632);
} */