.form-container {
    background: honeydew;
    /* background-image: url("../../assets/images/doctorcanva.svg"); */
    display: grid;
    justify-content: center;
    margin-top: 8rem;
     height:auto;

}