.doctor-card {
    position: relative;
    border-radius: 100%;
    text-align: center;
    /* box-shadow: 3rem 4rem 30 1rem rgba(32, 71, 13, 0.9); */
    /* box-shadow: 8px 8px 8px #faea10; */
    filter: drop-shadow(4px 4px 4px #c7bcbc);
}

.doctor-card img {
    margin: 20px 50px;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
}